/*pierwszy komentarz css*/
* {
  box-sizing: border-box;
}

body, html {
  color: #fff;
  background-color: white;
  width: 100vw;
  margin: 0px auto;
  padding: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1000px;
  margin: 0px auto;
  border: 1px solid green;
  height: 100%;
}

span {
  color: #24baa0;
}

h2 {
  color: #c2c2c2;
}

#section-nav {
  height: 3em;
  background-color: black;
}

ul.navbar {
  list-style-type: none;
  background-color: black;
  display: flex;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ul.navbar li {
  display: inline-block;
  height: 100%;
  flex: 1;
}

ul.navbar li a, ul.navbar li p {
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

ul.navbar li:first-child {
  flex: 3;
}

ul.navbar li:hover ul.dropdown {
  display: flex;
}

ul.navbar li ul.dropdown {
  display: none;
  flex-direction: column;
  list-style-type: none;
  line-height: 2.5em;
  height: 2.5em;
  width: 166.66666666px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  z-index: 1;
}

ul.navbar li ul.dropdown li {
  display: block;
  background-color: black;
  float: none;
  height: 100%;
  align-content: center;
}

ul.navbar a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
}

ul.navbar a:hover {
  background-color: darkgreen;
}

#section-1-slider {
  background: linear-gradient(to bottom, #fafafa 0%, #f6f6f6 47%, #d1d0d8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d8', GradientType=0 );
  /* IE6-9 */
  height: 400px;
  color: #000;
}

.section-1-chair-img {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.section-1-chair-img:after {
  content: ">";
  color: #24baa0;
  font-size: 6em;
  position: absolute;
  top: 150px;
  right: 10px;
}

.section-1-chair-img:before {
  content: "<";
  color: #24baa0;
  font-size: 6em;
  position: absolute;
  top: 150px;
  left: 10px;
}

.section-1-chair-img img {
  padding-top: 5%;
  border: 1px solid red;
  vertical-align: middle;
  display: inline-block;
  width: 47%;
  float: left;
}

.section-1-chair-img article {
  padding-top: 7%;
  padding-right: 9%;
  display: inline-block;
  width: 53%;
  line-height: 1.5em;
  text-align: center;
}

.section-1-chair-img article h1 {
  font-size: 2.3em;
}

.section-1-chair-img article .section-1-button-1 {
  background-color: #24baa0;
  color: #fff;
  width: 250px;
  height: 50px;
  border: none;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#section-2-photos {
  height: 325px;
}

#section-2-photos .section-2-photo-div {
  display: inline-block;
  position: relative;
  float: left;
  height: 100%;
  width: 33.3333%;
  padding: 1.5em;
  border: 1px solid pink;
}

#section-2-photos .section-2-photo-div img {
  width: 100%;
  height: auto;
}

#section-2-photos .section-2-photo-div p {
  color: black;
}

#section-2-photos .section-2-photo-div h3 {
  font-weight: 600;
  color: black;
}

#section-2-photos .section-2-photo-div .green-line2 {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 18%;
}

#section-2-photos .section-2-photo-div .line {
  background-color: rgba(255, 255, 255, 0.42);
  position: absolute;
  bottom: 38%;
  width: 87.5%;
  height: 15%;
  z-index: 100;
}

#section-2-photos .section-2-photo-div .line p {
  font-weight: 600;
  padding-left: 1em;
}

#section-2-photos .section-2-photo-div .line .green-line {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 60%;
}

#section-3-pricing {
  background-color: #f1f1f1;
  height: 700px;
  position: relative;
}

#section-3-pricing .section-3-greenline {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 6%;
}

.section-3-pricing-box {
  display: inline-block;
  width: 31%;
  height: 80%;
  border: 2px solid #c2c2c2;
  background-color: #f9f9f9;
  margin-top: 5em;
  position: relative;
}

.section-3-pricing-box p {
  color: #24baa0;
  text-align: center;
  font-weight: 600;
  font-size: 1.85em;
  margin-top: 2em;
}

.section-3-pricing-box .section-3-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #f9f9f9;
  border: 2px solid #c2c2c2;
  position: absolute;
  top: -35px;
  left: 40%;
}

.section-3-pricing-box .section-3-circle-inside {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #c2c2c2;
  border: none;
  position: absolute;
  top: -19px;
  left: 44.5%;
}

.section-3-pricing-box .section-3-pricing-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #c2c2c2;
  margin: 0 auto;
}

.section-3-pricing-box .section-3-table {
  margin-top: 2em;
}

.section-3-pricing-box .section-3-table p {
  background-color: #e4e4e4;
  width: 100%;
  height: 30%;
  color: #c2c2c2;
  padding: 0.3em 0;
  font-weight: 400;
  margin: 0;
}

.section-3-pricing-box .section-3-table p:nth-child(2) {
  background-color: #f1f1f1;
}

.section-3-pricing-box .section-3-btn {
  background-color: #24baa0;
  color: #fff;
  width: 120px;
  height: 35px;
  border: none;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 30%;
}

#middle {
  margin: 0 2.2em;
}

#float-right {
  float: right;
}

/*# sourceMappingURL=maps/style.css.map */
