/*pierwszy komentarz css*/
* {
  box-sizing: border-box;
}

body, html {
  color: #fff;
  background-color: white;
  width: 100vw;
  margin: 0px auto;
  padding: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1000px;
  margin: 0px auto;
  height: 100%;
}

span {
  color: #24baa0;
}

h2 {
  color: #575757;
}

#section-nav {
  height: 3em;
  background-color: black;
}

ul.navbar {
  list-style-type: none;
  background-color: black;
  display: flex;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ul.navbar li {
  display: inline-block;
  height: 100%;
  flex: 1;
}

ul.navbar li a, ul.navbar li p {
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

ul.navbar li:first-child {
  flex: 3;
}

ul.navbar li:hover ul.dropdown {
  display: flex;
}

ul.navbar li ul.dropdown {
  display: none;
  flex-direction: column;
  list-style-type: none;
  line-height: 2.5em;
  height: 2.5em;
  width: 166.66666666px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  z-index: 1;
}

ul.navbar li ul.dropdown li {
  display: block;
  background-color: black;
  float: none;
  height: 100%;
  align-content: center;
}

ul.navbar a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
}

ul.navbar a:hover {
  background-color: darkgreen;
}

#section-1-slider {
  background: linear-gradient(to bottom, #fafafa 0%, #f6f6f6 47%, #d1d0d8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d8', GradientType=0 );
  /* IE6-9 */
  height: 400px;
  color: #000;
}

.section-1-chair-img {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

.section-1-chair-img:after {
  content: ">";
  color: #24baa0;
  font-size: 6em;
  position: absolute;
  top: 150px;
  right: 10px;
}

.section-1-chair-img:before {
  content: "<";
  color: #24baa0;
  font-size: 6em;
  position: absolute;
  top: 150px;
  left: 10px;
}

.section-1-chair-img img {
  padding-top: 5%;
  vertical-align: middle;
  display: inline-block;
  width: 47%;
  float: left;
}

.section-1-chair-img article {
  padding-top: 7%;
  padding-right: 9%;
  display: inline-block;
  width: 53%;
  line-height: 1.5em;
  text-align: center;
}

.section-1-chair-img article h1 {
  font-size: 2.3em;
}

.section-1-chair-img article .section-1-button-1 {
  background-color: #24baa0;
  color: #fff;
  width: 250px;
  height: 50px;
  border: none;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#section-2-photos {
  height: 325px;
}

#section-2-photos .section-2-photo-div {
  display: inline-block;
  position: relative;
  float: left;
  height: 100%;
  width: 33.3333%;
  padding: 1.5em;
}

#section-2-photos .section-2-photo-div img {
  width: 100%;
  height: auto;
}

#section-2-photos .section-2-photo-div p {
  color: black;
}

#section-2-photos .section-2-photo-div h3 {
  font-weight: 600;
  color: black;
}

#section-2-photos .section-2-photo-div .green-line2 {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 18%;
}

#section-2-photos .section-2-photo-div .line {
  background-color: rgba(255, 255, 255, 0.42);
  position: absolute;
  bottom: 38%;
  width: 87.5%;
  height: 15%;
  z-index: 100;
}

#section-2-photos .section-2-photo-div .line p {
  font-weight: 600;
  padding-left: 1em;
}

#section-2-photos .section-2-photo-div .line .green-line {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 60%;
}

#section-3-pricing {
  background-color: #f1f1f1;
  height: 700px;
  position: relative;
}

#section-3-pricing .section-3-greenline {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 6%;
  width: 310px;
}

.section-3-pricing-box-container {
  height: 80%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.section-3-pricing-box {
  display: inline-block;
  width: 31%;
  height: 100%;
  border: 2px solid #c2c2c2;
  background-color: #f9f9f9;
  margin-top: 5em;
  position: relative;
}

.section-3-pricing-box:hover {
  border-color: #24baa0;
  background-color: #24baa0;
}

.section-3-pricing-box:hover p {
  color: #fff;
}

.section-3-pricing-box:hover .section-3-circle {
  background-color: #24baa0;
  border-color: #24baa0;
}

.section-3-pricing-box:hover .section-3-circle-inside {
  background-color: #fff;
}

.section-3-pricing-box:hover .section-3-btn {
  background-color: #fff;
  color: #24baa0;
}

.section-3-pricing-box p {
  color: #24baa0;
  text-align: center;
  font-weight: 600;
  font-size: 1.85em;
  margin-top: 2em;
}

.section-3-pricing-box .section-3-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 58px;
  height: 58px;
  background-color: #f9f9f9;
  border: 2px solid #c2c2c2;
  position: absolute;
  top: -35px;
  left: 40%;
}

.section-3-pricing-box .section-3-circle-inside {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #c2c2c2;
  border: none;
  position: absolute;
  top: -19px;
  left: 137px;
}

.section-3-pricing-box .section-3-pricing-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #c2c2c2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-3-pricing-box .section-3-pricing-circle p.price {
  color: #c2c2c2;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.section-3-pricing-box .section-3-pricing-circle p.price sup {
  font-size: 0.5em;
}

.section-3-pricing-box .section-3-pricing-circle p {
  color: #c2c2c2;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

.section-3-pricing-box .section-3-table {
  margin-top: 2em;
}

.section-3-pricing-box .section-3-table p {
  background-color: #e4e4e4;
  width: 100%;
  height: 30%;
  color: #575757;
  padding: 0.3em 0;
  font-weight: 400;
  margin: 0;
}

.section-3-pricing-box .section-3-table p:nth-of-type(2n) {
  background-color: #f1f1f1;
}

.section-3-pricing-box .section-3-btn {
  background-color: #24baa0;
  color: #fff;
  width: 120px;
  height: 35px;
  border: none;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 30%;
}

#section-4-form {
  height: 520px;
  position: relative;
}

#section-4-form .section-4-greenline {
  background-color: #24baa0;
  height: 6px;
  width: 160px;
  position: absolute;
  top: 8%;
  width: 300px;
}

.section-4-formup {
  width: 60%;
  height: auto;
  display: inline-block;
  float: left;
}

.section-4-formup input {
  outline-style: none;
  border: 1px solid #a3e2d7;
  width: 100%;
  height: 2.6em;
  margin-top: 1.2em;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  padding-left: 0.5em;
}

.section-4-formup textarea {
  border: 1px solid #a3e2d7;
  font-size: 2em;
  width: 100%;
  height: 5.5em;
  margin-top: 1.2em;
  font-family: 'Raleway', sans-serif;
  padding-left: 0.5em;
}

.section-4-chair {
  width: 40%;
  height: auto;
  display: inline-block;
  float: right;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 0 3.5em;
}

.section-4-chair img {
  width: 100%;
  height: auto;
  align-self: center;
}

.section-4-chair button {
  background-color: #24baa0;
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  align-self: center;
}

.section-4-chair input[type="checkbox"] {
  display: none;
}

.section-4-chair label {
  font-size: 1.3em;
  text-align-last: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.section-4-chair input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
  background-color: white;
  border: 1px solid #24baa0;
  margin: 0 0.5em 0 0;
}

.section-4-chair input[type="checkbox"]:checked + label:before {
  color: white;
  background-image: url("../images/form_ok.jpg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

#section-5-footer {
  height: 4em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex: 1;
  font-size: 1.3em;
  height: 100%;
  color: #575757;
}

footer p {
  display: flex;
  text-align: left;
}

/*# sourceMappingURL=maps/style.css.map */
