@mixin circle ($size) {
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;
	width: $size;
	height: $size;
	background-color: $color-light-grey;
    border: 2px solid $color-dark-grey;
    position: absolute;
    top: -35px;
    left: 40%;
}
@mixin circleInside () {
	border-radius: 50%;
	-webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: $color-dark-grey;
    border: none;
	position: absolute;
    top: -19px;
	left: 138px;
}
@mixin pricing () {
	border-radius: 50%;
	-webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: $font-color-white;
    border: 2px solid $color-dark-grey;
	margin: 0 auto;
	
//	position: absolute;
//    top: -19px;
//	left: 44.5%;
}


@mixin button ($width, $height) {
	background-color: $main-color-green;
	color: $font-color-white;
	width: $width;
	height: $height;
    border: none;
    text-decoration: none;
    font-size: 1.4em;
    border-radius: 8px;
    outline: none;
    cursor:pointer; 

}
@mixin ahref () {
	text-decoration: none;
	text-align: right;
	color: $sec-font-color;
	&:visited {
		background-color: $main-color-blue;
		color: $sec-font-color;
	}
	&:hover {
		//background-color: $sec-color-blue;
		color: $sec-font-color;
		transform: scale(1.1, 1.1);
					transition: 0.7s;
	}
}
@mixin greenline ($top) {
    background-color: $main-color-green;
    height: 6px;
    width: 160px;
    position: absolute;
    top:$top;
    
    
}