$background-color: black;
$font-color-black: #000;
$font-color-white: #fff;
$default-font-size: 15px;
$desktop-font-size: 16px;
$main-color-green: #24baa0;
$color-grey: #f1f1f1;
$color-dark-grey: #c2c2c2;



