/*pierwszy komentarz css*/
@import "mixines";
@import "fonts";
//@import "grid";
@import "variables";
@import "media";
//@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color-white;
    background-color: white;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	font-size: $default-font-size;
	font-family: 'Raleway', sans-serif;
	}
.container {
    width: 1000px;
    margin: 0px auto;
}
.navbar {
    height: 2.5em;
    background-color: black;
    display: flex;
    position: relative;
    div {
        display: flex;
        flex: 1;
        border: 1px solid red;
        height: 100%; 
        &:first-child {
            flex: 3;
        }
    }
    a {
        color: $font-color-white;
        text-decoration: none;
        width: 100%;
        &:hover {
            background-color: grey;
        }
        &:first-child {
            span {
                color: $main-color-green;
            }
        }    
    }
}
.navbar-on-hover1 {
    display: none;
    position: absolute;
    top: 3.3em;
    right: 36em;
    flex-direction: column;
    width: 10%;
    height: 3em;
    z-index: 100;
    a {
        display: flex;
        flex: 1;
        color: $font-color-white;
        width: 100%;
        text-decoration: none;
        border: 1px solid yellow;
        background-color: black;
        &:hover {
            background-color: greenyellow;
        } 
    }
    &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #000000;
        border-width: 14px;
        margin-left: -14px; 
    }
}
//div.history-btn:hover .navbar-on-hover1 {
//    display: flex;
//}
