/*pierwszy komentarz css*/
@import "mixines";
//@import "fonts";
//@import "grid";
@import "variables";
@import "media";
//@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color-white;
    background-color: white;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	font-size: $default-font-size;
	font-family: 'Raleway', sans-serif;
	}
.container {
    width: 1000px;
    margin: 0px auto;
    border: 1px solid green;
    height: 100%;
}
ul.navbar {
	list-style-type: none;
	background-color: black;
	height: 3em;
	display: flex;
	padding: 0;
	line-height: 3em;
	li {
		display: inline-block;
		border: 1px solid violet;
		height: 100%;
		flex: 1;
		
		&:first-child {
			flex:3;
		}
		&:hover ul.dropdown {
			display: block;
		}
		ul.dropdown {
			display: none;
			flex-direction: column;
			list-style-type: none;
			line-height: 2.5em;
			height: 2.5em;
			position:absolute; 
			z-index:1;
			li {
				display: block;
				background-color: black;
				float: none;
				padding: 0;
				height: 100%;
				align-content: center;
			}
		}
	}
	a {
		height: 100%;
		width: 100%;
		text-decoration: none;
		color: white;
		display: block;
		padding: 0 8px;
		text-align: center;
		&:hover {
			background-color: darkgreen;
		}
		
	}

}

#section-1-slider {
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d8', GradientType=0 );/* IE6-9 */
    height: 505px;
    color: $font-color-black;
}

.section-1-chair-img {
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid black;
    display: inline-block; 
    img {
        margin: 0px auto;
        border: 1px solid red;
    }
}
.section-1-text {
    float: right;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    h1 {
        span {
            color: $main-color-green;
        }   
    }
}
.section-1-button-1 {
    @include button (270px, 50px);
}