/*pierwszy komentarz css*/
@import "mixines";
//@import "fonts";
//@import "grid";
@import "variables";
@import "media";
//@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color-white;
    background-color: white;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	font-size: $default-font-size;
	font-family: 'Raleway', sans-serif;
	}
.container {
    width: 1000px;
    margin: 0px auto;
    border: 1px solid green;
    height: 100%;
}
.navbar {
    height: 2.5em;
    background-color: black;
    display: flex;
    position: relative;
    div {
        display: flex;
        flex: 1;
        border: 1px solid red;
        height: 100%; 
        &:first-child {
            flex: 3;
        }
    }
    a {
        color: $font-color-white;
        text-decoration: none;
        width: 100%;
        &:hover {
            background-color: grey;
        }
        &:first-child {
            span {
                color: $main-color-green;
            }
        }    
    }
}
.navbar-on-hover1 {
    display: none;
    position: absolute;
    top: 3.3em;
    right: 36em;
    flex-direction: column;
    width: 10%;
    height: 3em;
    z-index: 100;
    a {
        display: flex;
        flex: 1;
        color: $font-color-white;
        width: 100%;
        text-decoration: none;
        border: 1px solid yellow;
        background-color: black;
        &:hover {
            background-color: greenyellow;
        } 
    }
    &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #000000;
        border-width: 14px;
        margin-left: -14px; 
    }
}
//div.history-btn:hover .navbar-on-hover1 {
//    display: flex;
//}

#section-1-slider {
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d1d0d8', GradientType=0 );/* IE6-9 */
    height: 505px;
    color: $font-color-black;
}

.section-1-chair-img {
    float: left;
    width: 40%;
    height: 100%;
    border: 1px solid black;
    display: inline-block; 
    img {
        margin: 0px auto;
        border: 1px solid red;
    }
}
.section-1-text {
    float: right;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    h1 {
        span {
            color: $main-color-green;
        }   
    }
}
.section-1-button-1 {
    @include button (270px, 50px);
}